---
layout: default
---

<div class="row">
  <div class="yearbook">

    <h1 class="logo">
      <a href="http://whitehouse.gov/innovationfellows">
        Presidential Innovation Fellows
      </a>
    </h1>

    <ul class="years">
    {% for year in site.data.alums %}
      <li><a href="#{{ year[0] }}">{{ year[0] }}</a></li>
    {% endfor %}
    </ul>

    {% for year in site.data.alums %}
    <div class="class-year">

      <h2 id="{{ year[0] }}">{{ year[0] }}</h2>

      <ul class="roster">
      {% for alum in year[1] %}
        <li>{{ alum }}</i>
      {% endfor %}
      </ul>

    </div>
    {% endfor %}

  </div>
</div>
